parameters:
    level: 5
    paths:
        - bootstrap
        - config
        - database
        - public
        - routes
        - scripts
        - src
        - tests
    excludePaths:
        - public/vendor
        - storage
        - dist
    checkMissingIterableValueType: false
