parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - scripts/phpstan-bootstrap.php
    scanFiles:
        - src/Support/helpers.php
        - src/Support/optional_helpers.php
    tmpDir: storage/framework/phpstan
